body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 36px;
    color: rgb(255, 255, 255);
    background-color: darkslategrey;
    text-align: center;
    font-weight: 700;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2, h3 {
    text-align: center;
}