* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 36px;
    color: rgb(255, 255, 255);
    background-color: darkslategrey;
    text-align: center;
    border: 5px solid;
    border-color: lightslategray;
}

#recipes-list {
    text-align: center;
}

ul {
    font-size: 20px;
    text-align: left;
    list-style-type: square;
    list-style-position: inside;
    display: inline-block;
}

a:link {
    color: black;
}

a:hover {
    color: blue;
}

a:active {
    color: blueviolet;
}

a:visited {
    color: violet;
}
